.title{
    text-align: left;
  }
  
  .intro{
    text-align:center;
  }
  
  body{
    background-image: url(https://wallpaper.dog/large/238738.png);
    color: white;
  }
  
  img{
    border-radius: 50%;
  }
   